@media screen and (max-width:600px){
    .profile-image{
        margin-left: 10px;
    }
    header{
      width: 94vw;
      display: flex;
      flex-direction: column;
    }
    .profile-image{
        height: 100px;
        width: 100px;
    }
    .first-detiles{
        display: none;
    }
    .grid{
        grid-template-columns: auto;
    }
    .event-count{
        padding: 0px 0px;
    }
    .graph-divisions{
        width: 80vh;
    }
    .text{
        font-size: small;
    }
}
@media screen and (max-width:400px){
    .profile-image{
        margin-left: 10px;
    }
    header{
      width: 115vw;
      display: flex;
      flex-direction: column;
    }
    .profile-image{
        height: 100px;
        width: 100px;
    }
    .first-details{
        display: none;
    }
    .grid{
        grid-template-columns: auto;
    }
    .event-count{
        padding: 0px 0px;
    }
    .graph-divisions{
        width: 100vh;
    }
    .text{
        font-size: small;
    }
}