<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="responsive.css"/>
    <title>EVENTMATE</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">
          <h1 style="color: midnightblue">Eventmate</h1>
        </div>
        <div>
          <form id="search">
            <input class="search2" type="text" placeholder="search" />
          </form>
        </div>
        <div class="gaper">
        <div class="location">
          <button class="drope">Location▾</button>
          <ul class="todrope">
            <li>Palakkad</li>
            <li>Kozhikode</li>
            <li>Ernakulam</li>
            <li>Thrissur</li>
          </ul>
        </div>
        <div>
          <a href="../login/index.html"><button onclick="signpop()" class="sign">signup</button></a>
          </div>
        </div>
      </nav>
    </header>

      <section class="hpage">
      <div class="template1" onclick="booking()">
         <div class="event">
          <img src="./images/PngItem_741697 (1).png" width="70" height="70" />
          <h1>name</h1>
        </div>
        <div>
          <div class="placetime">
            <h4 class="place">Kozhikode</h4>
          </div>
          <div class="datetime">
            <span class="date">19-02-2026</span>
            <div><span class="time">9:30 am to 10:00 pm</span></div>
          </div>
        </div>
      </div>
       <div class="template1" onclick="booking()">
        <div class="event">
          <img src="./images/PngItem_741697 (1).png" width="70" height="70" />
          <h1>name</h1>
        </div>
        <div>
          <div class="placetime">
            <h4 class="place">Kozhikode</h4>
          </div>
          <div class="datetime">
            <span class="date">19-02-2026</span>
            <div><span class="time">9:30 am to 10:00 pm</span></div>
          </div>
        </div>
      </div> 
      <div class="template1" onclick="booking()">
        <div class="event">
          <img src="./images/PngItem_741697 (1).png" width="70" height="70" />
          <h1>name</h1>
        </div>
        <div>
          <div class="placetime">
            <h4 class="place">Kozhikode</h4>
          </div>
          <div class="datetime">
            <span class="date">19-02-2026</span>
            <div><span class="time">9:30 am to 10:00 pm</span></div>
          </div>
        </div>
      </div>
      <div class="template1" onclick="booking()">
        <div class="event">
          <img src="./images/PngItem_741697 (1).png" width="70" height="70" />
          <h1>name</h1>
        </div>
        <div>
          <div class="placetime">
            <h4 class="place">Kozhikode</h4>
          </div>
          <div class="datetime">
            <span class="date">19-02-2026</span>
            <div><span class="time">9:30 am to 10:00 pm</span></div>
          </div>
        </div>
      </div>
      <div class="template1" onclick="booking()">
        <div class="event">
          <img src="./images/PngItem_741697 (1).png" width="70" height="70" />
          <h1>name</h1>
        </div>
        <div>
          <div class="placetime">
            <h4 class="place">Kozhikode</h4>
          </div>
          <div class="datetime">
            <span class="date">19-02-2026</span>
            <div><span class="time">9:30 am to 10:00 pm</span></div>
          </div>
        </div>
      </div>
      <div class="template1" onclick="booking()">
        <div class="event">
          <img src="./images/PngItem_741697 (1).png" width="70" height="70" />
          <h1>name</h1>
        </div>
        <div>
          <div class="placetime">
            <h4 class="place">Kozhikode</h4>
          </div>
          <div class="datetime">
            <span class="date">19-02-2026</span>
            <div><span class="time">9:30 am to 10:00 pm</span></div>
          </div>
        </div>
      </div>
     </section>
    <footer>
      <div>
        <a href=""><h3 style="color: white">Contact</h3></a>
      </div>
      <div>
        <p>123@gmail.com</p>
        <p>Phone:91+1234567891</p>
      </div>
    </footer>
    <script src="../javasript/homepage.js"></script>
  </body>
</html>
